:root {
    --bg-primary: #fafafa;
    --bg-secondary: #ffffff;
    --bg-tertiary: #f0f0f0;
    --font-primary: #222222;
    --font-secondary: #555555;
    --font-tertiary: #0056b3;
}

[data-theme="dark"] {
    --bg-primary: #121212;
    --bg-secondary: #1e1e1e;
    --bg-tertiary: #2c2c2c;
    --font-primary: #ffffff;
    --font-secondary: #b0b0b0;
    --font-tertiary: #ffe600;
}